body{
    font-family: 'Work Sans', sans-serif;
}

.common-color{
    color: #534C64;
}
/* nav start here */

nav{
    display: flex;
    width: 100%;
    height: 70px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-around;
    /* text-align: center; */
    align-items: center;
}
.game{
    color: #FF42A5;
}
.logo h1{
    font-size: 40px;
}
.game-logo{
    margin-top: 36px;
    margin-right: 10px;
    width: 86.041px;
    height: 40px;
}
.logo{
    display: flex;
}
.right-div{
    color: #3C354F;
    font-size: 20px;
}
.right-div ul{
    align-items: center;
    
}
.right-nav-div-a-class a{
    text-decoration: none;
    
}
.right-nav-div{
    display: flex;
    /* text-align: center; */
    align-items: center;
    background-color: #E7E6E9;
    /* margin: 3px 10px; */
    padding: 0px 10px;
    border-radius: 5px;
    color: #3C354F;

}


.youtube-img{
    width: 33.916px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.tiktok-img{
    width: 24px;
    height: 20px;
    padding-bottom: 4px;
}

nav ul{
    display: flex;
    /* text-decoration: none; */

}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    padding: 25px;
    
}


/* banner start here */

.banner-heading{
    font-size: 40px;
    color: #C350D1;
}
.header-icon{
    display: flex;
}

.banner-icon{
    padding: 13px 5px 0px 0px;
}
.sign-in-btn{
    padding: 10px 18px;
    border-radius: 10px;
    color: white;
    background-color: #FF42A5;
    border: 0;
}
.GO-ROGUE-btn{
    padding: 10px 18px;
    border-radius: 10px;
    color: white;
    background-color: #4EC4F7;
    border: 0;
}
.banner{
    display: flex;
    width: 100%;
    
    justify-content: space-around;
    /* text-align: center; */
    align-items: center;
    background-image:url(images/group14.png);
    background-size: 640px 100%;
    background-repeat: no-repeat;
    
}
.banner-img{
    width: 450px;
    height: 580px;
}

/* We-are-gamer section start here */

.We-are-gamer-heading{
    font-size: 30px;
    color: #F948B2;
}
.We-are-gamer{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    justify-content: center;
    text-align: right;
    align-items: center;
    padding: 50px 175px;

}
.We-are-gamer-img{
    width: 100%;
    /* height: 300px; */
}
.We-are-gamer-description{
    width: 370px;
    color: #534C64;
}
.no-more-btn{
    padding: 10px 18px;
    border-radius: 10px;
    color: white;
    background-color: #FF42A5;
    border: 0;
}
.We-are-gamer-description-2{
    color: #534C64;
}
.We-are-gamer-description-2-span{
    font-weight: bold;
}


/* Online-Games section start here */

.Online-Games-heading{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}
.Online-Games-heading-span{
    color: #BE50D3;
}
.Online-Games-images{
    display: flex;
    justify-content: space-between;
    padding: 0px 170px;
}
.Online-Games-images img{
    height: 280px;
    width: 220px;
}
.Online-Games-img-description{
    width: 210px;
}


/* Play-Instantly section start here */
.Play-Instantly-heading{
    color: #E54BBD;
}
.Play-Instantly{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    /* padding-right: 3px; */
}
.Play-Instantly-description{
    text-align: right;
    margin-right: 70px;
    margin-left: 130px;
    margin-bottom: 200px;
    
}
.Play-Instantly-img{
    height: 350px;
    width: 350px;
    /* border: 0px; */
    padding-left: 190px;
}
.Play-Instantly-img-img img{
    height: 180px;
    width: 160px;
    border-radius: 5px;
    margin: 0px;
    padding-left: 90px;
    position: relative;
    bottom: 130px;
}


/* Play-game-online section start here */
.Play-game-online-heading{
    color: #E54BBD;
}
.Play-game-online-img-img img{
    height: 180px;
    width: 160px;
    border-radius: 5px;
    margin: 0px;
    padding-left: 290px;
    position: relative;
    bottom: 130px;
}

.Play-game-online{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}
.Play-game-online-description{
    
    
    margin-right:115px;
    margin-bottom: 140px;
}
.Play-game-online-img{
    height: 350px;
    width: 350px;
    margin-left: 20px;

}


/* Careers section start here */
.Careers{
    display: flex;
    margin-top: 130px;
    height: 450px;
    padding:0px 170px 0px 165px;
    justify-content: space-between;
    background-image: url(images/group14.png);
    background-repeat: no-repeat;
    background-size: 1000px 100%;
    background: #FF42A5;
    /* background-position:left ; */
    color: white;
    

    
}
.careers-left-div{
    padding-top: 50px;
}

.career-items ul li, .career-items-address ul li{
    list-style: none;
}
.career-img{
    height: 460px;
    width: 550px;
    /* margin-left: 150px; */
}
#career-data{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
.Careers-description{
    width: 600px;
}
.career-items-address{
    text-align: right;
}
.carees-btn{
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    background-color: #FFF;
    margin-top: 30px;
    color: #E54BBD;

}



/* icons-section section start here */

.icons-section{
    height: 300px;
    /* padding: 70px ; */
    background-color: #FFF9FC;
    
}
.icon-size{
    height: 35px;
}
.icon{
    display: flex;
    /* padding: 15px; */
    
}
.icons-1st-part, .icons-2nd-part{
    display: flex;
    padding-top: 80px;
    
}
.icons-1st-part, .icons-2nd-part{
    
    justify-content: center;
}
.icon-description{
    padding-left: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0px 5px;
    font-size: 14px;
    
}
.icons-2nd-part{
    padding-top: 15px;
}

.icon:hover{
    background: #FFF;
    border: 2px solid #FF42A5;
    border-radius: 50px;
    cursor: pointer;
    color: #FF42A5;
    
}

.icon{
    width: 200px;
    height: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 5px;
} 
 

/* footer-section section start here */
.footer{
    height: 500px;
}
.footer-heading{
    display: flex;
    justify-content: center;
    padding-top: 70px; 


}
.footer-span{
    color: #FF42A5;
}

.footer-items ul li{
    display: inline-block;
    padding: 20px;
    list-style: none;  
    
}
.footer-items ul{
    text-align: center;
}
.footer{
    background: #0B0223;
    color: white;
}
.footer-heading h1{
    font-size: 35px;
    padding-top: 5px;
}

.footer-icons{
    display: flex;

}

.footer-icons{
    justify-content: center;
    
}
.fa-brands {
    padding: 30px;
}

.footer-item-2{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
}
.footer-item-3{
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
}


/* responsive for small devices */
@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
        width: 100%;
        height: 100px;

        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
      
       
    }
    
    
  
    
    
    .banner{
        
        padding-bottom: 150px;
        display: grid;
        grid-template-columns: 150px;
        text-align: center;
        
    }
    .banner-img{

        padding-top: 15px;
        width: 280px;
        height: 280px;
        align-items:center;
    }
    .We-are-gamer{
        display: grid;
        grid-template-columns: 200px;
        align-items: center;
    }
    .We-are-gamer-description{
        font-size: 16px;
        
        width: 200px;
        padding: 0px;
    }
    .Online-Games-images{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 280%;
        height: 280px;
        align-items: c      enter;
        padding: 0;
        margin: 0;
        
    }
    .Play-Instantly{
        flex-direction: column;
        padding: 800px;
        /* grid-template-columns: repeat(1, 1fr); */
    }
    
    
    
}

    
    

