nav{
    display: flex;
    width: 100%;
    height: 70px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
    justify-content: space-around;
    /* text-align: center; */
    align-items: center;
}
.game-logo{
    margin-top: 13px;
    margin-right: 10px;
    width: 86.041px;
    height: 40px;
}
.logo{
    display: flex;
}

.right-div{
    /* margin-top: 10px; */
}
.youtube-img{
    width: 33.916px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.tiktok-img{
    width: 24px;
    height: 20px;
}
.nav-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px;
}
nav ul{
    display: flex;
    /* text-decoration: none; */

}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    padding: 25px;
    
}

.banner{
    display: flex;
    width: 100%;
    
    justify-content: space-around;
    /* text-align: center; */
    align-items: center;
    background-image:url(images/group14.png);
    background-size: 640px 100%;
    background-repeat: no-repeat;
    
}
.banner-img{
    width: 450px;
    height: 580px;
}

.We-are-gamer{
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    justify-content: center;
    text-align: right;
    align-items: center;
    padding: 50px 175px;

}
.We-are-gamer-img{
    width: 100%;
    /* height: 300px; */
}
.We-are-gamer-description{
    width: 370px;
}

.Online-Games-heading{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}
.Online-Games-images{
    display: flex;
    justify-content: space-between;
    padding: 0px 170px;
}
.Online-Games-images img{
    height: 280px;
    width: 220px;
}
.Online-Games-img-description{
    width: 210px;
}

.Play-Instantly{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    /* padding-right: 3px; */
}
.Play-Instantly-description{
    text-align: right;
    margin-right: 70px;
    margin-left: 130px;
}
.Play-Instantly-img{
    height: 350px;
    width: 350px;
    
    padding-left: 190px;
}


.Play-game-online{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}
.Play-game-online-description{
    
    
    margin-right:115px;
}
.Play-game-online-img{
    height: 350px;
    width: 350px;
    margin-left: 20px;

}



.Careers{
    display: flex;
    margin-top: 130px;
    height: 450px;
    padding:0px 170px 0px 165px;
    justify-content: space-between;
    background-image: url(images/group14.png);
    background-repeat: no-repeat;
    background-size: 1000px 100%;
    background: #FF42A5;
    /* background-position:left ; */
    

    
}
.careers-left-div{
    padding-top: 50px;
}

.career-items ul li, .career-items-address ul li{
    list-style: none;
}
.career-img{
    height: 460px;
    width: 550px;
    /* margin-left: 150px; */
}
#career-data{
    display: flex;
    justify-content: space-between;
}
.Careers-description{
    width: 600px;
}
.career-items-address{
    text-align: right;
}
.carees-btn{
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
    background-color: #FFF;
    margin-top: 30px;

}




.icons-section{
    padding: 70px;
    background-color: #FFF9FC;
    
}
.icon-size{
    height: 40px;
}
.icon{
    display: flex;
    /* padding: 15px; */
    
}
.icons-1st-part, .icons-2nd-part{
    display: flex;
    
}
.icons-1st-part, .icons-2nd-part{
    
    justify-content: center;
}
.icon-description{
    padding-left: 8px;
}

.icon:hover{
    background: #FFF;
    border: 2px solid #FF42A5;
    border-radius: 50px;
    cursor: pointer;
    
}

.icon{
    width: 180px;
    height: 30px;
    padding-bottom: 17px;
    padding-left: 10px;
    padding-top: 5px;
} 
 

.footer-heading{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    

}

.footer-items ul li{
    display: inline-block;
    padding: 20px;
    list-style: none;  
    
}
.footer-items ul{
    text-align: center;
}
.footer{
    background: #0B0223;
    color: white;
}




